# 聊聊机器学习


<br>
<h2>Now the internet age is over, welcome to the age of AI and blockchain.</h2>
<br>
<br>


## 内容

### 不聊什么

- 公式
- 线性代数，微积分，概率论...
- 算法推导
- ...

**Q: 数学重要吗？**

### 聊什么

- 机器学习实质: 通过各种数据拟合函数，推断结果
- 数据抽象方法
- 分析模型选择
- 数据筛选及预处理
- 计算建立模型
- 验证模型

**Q: 机器学习 vs 深度学习? **

## 举个栗子

> XXX，你好！
> 请提取一下近3个月投资≥30万以上的用户，包括定期活期，流失的用户，运营进行活动刺激。

这是一封很平常的运营需求邮件，运营人员对用户进行了建模

1. 投资过的用户
1. 3月内投资30W以上的用户
1. 定期，活期的用户
1. 流失用户

先不说这个模型是否正确，模型认为通过4类用户刺激，可以增加投资额，但是具体到每个用户该给多大的红包，只能一锅饭，大家都一样，缺少细粒度的方法。
那么我们来看看应该怎么做

### 数据抽象

先看看数据，通常我们都会有这么一张表格

In [7]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import pymysql
import pymysql.cursors

conn = pymysql.connect(host="",
                       user="",
                       password="",
                       db="",
                       charset="utf8",
                       cursorclass=pymysql.cursors.DictCursor)
try:
    sql='''
        select age '年龄'
             , province '省份'
             , bankname '银行'
             , constellation '星座'
             , sex '性别'
             , invite_cnt '邀请人数'
             , SXQTZJE '活期投资'
             , DQTZJE '定期投资'
            from m_userinfo mu 
            left join cus_detail cd on mu.userid = cd.userid 
            where mu.idcard is not null 
            and age < 100
            and bankname is not null
        '''
    df = pd.read_sql(sql, con=conn)
    print(df)
finally:
    conn.close()

          年龄   省份        银行   星座 性别  邀请人数      活期投资     定期投资
0       59.0   辽宁    中国农业银行  双子座  女     0       0.0      0.0
1       26.0   上海    中国工商银行  处女座  男    11     100.0      0.0
2       23.0   福建    中国建设银行  水瓶座  女     0     100.0      0.0
3       23.0   重庆      招商银行  天蝎座  女     1       0.0      0.0
4       29.0   福建    中国建设银行  狮子座  男     0     100.0      0.0
5       21.0   山西    中国工商银行  天蝎座  男     0       0.0      0.0
6       63.0   湖南    中国农业银行  摩羯座  男     0     100.0      0.0
7       39.0   河北    中国建设银行  白羊座  女     0     100.0      0.0
8       25.0   湖北    中国建设银行  双子座  女     6     100.0      0.0
9       22.0   浙江    中国建设银行  金牛座  女     0       0.0      0.0
10      22.0   福建    中国建设银行  金牛座  男     0     100.0      0.0
11      33.0   北京    中国工商银行  天蝎座  女     0    1000.0      0.0
12      54.0   陕西    中国建设银行  双鱼座  女     0       0.0      0.0
13      19.0   河北    中国建设银行  金牛座  男     0       0.0      0.0
14      33.0   陕西    中国农业银行  水瓶座  女     0       0.0      0.0
15      27.0   广东    中国工商银行  金牛座  男     0       0.0      0.0
16      39.0   北京    中国建设银行  双鱼座  男     0       0.0      0.0
17      36.0   广西    中国建设银行  水瓶座  男     0     100.0      0.0
18      64.0   广东    邮政储蓄银行  天蝎座  女     0     100.0      0.0
19      28.0   广东    中国农业银行  水瓶座  男     0     100.0      0.0
20      27.0   广东      广发银行  双鱼座  女     0       0.0      0.0
21      25.0   山东    中国建设银行  天蝎座  女     0     100.0      0.0
22      23.0   湖南    中国农业银行  金牛座  女     0     100.0      0.0
23      53.0  内蒙古    中国工商银行  白羊座  男    29     100.0      0.0
24      32.0   广东    中国农业银行  处女座  女     0       0.0      0.0
25      22.0   广东    中国农业银行  狮子座  男     0       0.0      0.0
26      35.0   湖南    中国工商银行  水瓶座  男     0     100.0      0.0
27      34.0   北京      招商银行  白羊座  女     0  160000.0      0.0
28      60.0   四川    中国农业银行  双子座  男     0     100.0      0.0
29      50.0   湖北  中国邮政储蓄银行  双鱼座  男     0    1000.0      0.0
...      ...  ...       ...  ... ..   ...       ...      ...
110365  36.0   福建      中国银行  双子座  男     0       0.0      0.0
110366  29.0   福建    中国工商银行  狮子座  男     0       0.0      0.0
110367  52.0   山东    中国农业银行  天秤座  男     0       0.0      0.0
110368  23.0   山东    中国建设银行  天秤座  男     0       0.0      0.0
110369  34.0   安徽    中国农业银行  金牛座  男     0    1000.0      0.0
110370  32.0   重庆    中国建设银行  摩羯座  男     0       0.0  90000.0
110371  33.0   山东      中国银行  处女座  女     6     100.0      0.0
110372  60.0   湖北    中国农业银行  白羊座  女     1       0.0      0.0
110373  28.0   河南    中国工商银行  处女座  男     0       0.0      0.0
110374  54.0   河北    中国农业银行  双鱼座  男     0       0.0      0.0
110375  29.0   湖北      招商银行  水瓶座  男     0       0.0      0.0
110376  49.0   新疆    中国建设银行  金牛座  女     0     100.0      0.0
110377  20.0   江西    中国建设银行  天蝎座  女     0     100.0      0.0
110378  45.0   陕西    中国招商银行  金牛座  女     7     100.0      0.0
110379  27.0   江苏    中国工商银行  水瓶座  男     0       0.0      0.0
110380  28.0   河北    中国农业银行  天秤座  男     0     100.0      0.0
110381  29.0   广东      招商银行  处女座  女    29     100.0      0.0
110382  37.0   江西    中国建设银行  水瓶座  男     3     100.0      0.0
110383  20.0   山西    中国建设银行  处女座  男     0       0.0      0.0
110384  28.0   山东    中国农业银行  天秤座  女     1       0.0      0.0
110385  26.0   山东      招商银行  水瓶座  女     0       0.0      0.0
110386  71.0   吉林    中国工商银行  双子座  男     0     100.0      0.0
110387  27.0   江西    中国建设银行  双子座  女     0       0.0      0.0
110388  69.0   浙江      平安银行  处女座  男     0       0.0      0.0
110389  47.0   四川    中国农业银行  天蝎座  女    29     100.0      0.0
110390  24.0   湖北    中国工商银行  处女座  女     0       0.0      0.0
110391  25.0   河南    中国工商银行  双子座  女     0     100.0      0.0
110392  69.0   山东    中国建设银行  巨蟹座  女     1     100.0      0.0
110393  32.0   广西    中国建设银行  射手座  女    20       0.0      0.0
110394  42.0   安徽      中信银行  巨蟹座  男     0       0.0      0.0

[110395 rows x 8 columns]

- 检查数据项

 * 年龄
 * 省份
 * 银行
 * 星座
 * 性别
 * 邀请人数
 * 活期投资
 * 定期投资

简单看一下数据分布情况

In [8]:
df.describe()

                  年龄           邀请人数          活期投资          定期投资
count  110395.000000  110395.000000  1.103950e+05  1.103950e+05
mean       34.721400       2.019566  1.550370e+04  4.506402e+03
std        13.079365       7.909360  2.073308e+05  5.092481e+04
min         7.000000       0.000000  0.000000e+00  0.000000e+00
25%        25.000000       0.000000  0.000000e+00  0.000000e+00
50%        30.000000       0.000000  0.000000e+00  0.000000e+00
75%        42.000000       0.000000  1.000000e+02  0.000000e+00
max        99.000000     728.000000  1.278957e+07  5.437300e+06

- 数据抽象方法

  * 规范化
  * 标准化，标准差为1的正态分布数据
  * 归一化，把数据投射到0-1区间
  * 中心化，按照均值把数据减去均值
  
**Q: 为什么?**


### 分析模型选择

 - 线性回归
 - K-MEANS
 - KNN
 - 随机森林
 - 神经网络
 - 贝叶斯
 - SVM
 - ......
 
### 数据筛选预处理

 - 划分判定好的数据
   
   * 已投资
   * 未投资
   
 Q: 如何选择训练数据？
   
   根据目标，选择数据项齐全，特征明显
   
   * 训练数据：  投资金额>0
   
 Q: 如何选择待训练数据?
 
   根据目标，选择除目标数据外，数据项齐全的数据
 
   * 待训练数据: 投资金额=0
   
 Q: 数据项都不齐全怎么办?
 
   圈定小目标，补齐数据后再用补齐的数据进行训练

In [17]:
try:
    conn = pymysql.connect(host="",
                       user="",
                       password="",
                       db="",
                       charset="utf8",
                       cursorclass=pymysql.cursors.DictCursor)
    sql='''
        select age '年龄'
             , province '省份'
             , bankname '银行'
             , constellation '星座'
             , sex '性别'
             , invite_cnt '邀请人数'
             , SXQTZJE '活期投资'
             , DQTZJE '定期投资'
            from m_userinfo mu 
            left join cus_detail cd on mu.userid = cd.userid 
            where mu.idcard is not null 
            and age < 100
            and bankname is not null
            and (SXQTZJE >0 or DQTZJE>0)
        '''
    trained = pd.read_sql(sql, con=conn)
    print(trained)
finally:
    conn.close()

         年龄   省份        银行   星座 性别  邀请人数      活期投资     定期投资
0      26.0   上海    中国工商银行  处女座  男    11     100.0      0.0
1      23.0   福建    中国建设银行  水瓶座  女     0     100.0      0.0
2      29.0   福建    中国建设银行  狮子座  男     0     100.0      0.0
3      63.0   湖南    中国农业银行  摩羯座  男     0     100.0      0.0
4      39.0   河北    中国建设银行  白羊座  女     0     100.0      0.0
5      25.0   湖北    中国建设银行  双子座  女     6     100.0      0.0
6      22.0   福建    中国建设银行  金牛座  男     0     100.0      0.0
7      33.0   北京    中国工商银行  天蝎座  女     0    1000.0      0.0
8      36.0   广西    中国建设银行  水瓶座  男     0     100.0      0.0
9      64.0   广东    邮政储蓄银行  天蝎座  女     0     100.0      0.0
10     28.0   广东    中国农业银行  水瓶座  男     0     100.0      0.0
11     25.0   山东    中国建设银行  天蝎座  女     0     100.0      0.0
12     23.0   湖南    中国农业银行  金牛座  女     0     100.0      0.0
13     53.0  内蒙古    中国工商银行  白羊座  男    29     100.0      0.0
14     35.0   湖南    中国工商银行  水瓶座  男     0     100.0      0.0
15     34.0   北京      招商银行  白羊座  女     0  160000.0      0.0
16     60.0   四川    中国农业银行  双子座  男     0     100.0      0.0
17     50.0   湖北  中国邮政储蓄银行  双鱼座  男     0    1000.0      0.0
18     39.0  黑龙江    中国工商银行  射手座  男     0     100.0      0.0
19     30.0   河北      中国银行  白羊座  男     4     100.0      0.0
20     32.0   北京    中国工商银行  双鱼座  男     0   50150.0      0.0
21     27.0   广东    中国建设银行  天蝎座  男     0     100.0      0.0
22     23.0   浙江    中国农业银行  双鱼座  男     0     100.0      0.0
23     33.0   广西    中国农业银行  双子座  男     0     100.0      0.0
24     30.0   福建    中国工商银行  处女座  女     4     100.0      0.0
25     30.0   四川      中国银行  天秤座  女     0     100.0      0.0
26     32.0   上海    中国招商银行  白羊座  女    29     100.0      0.0
27     66.0   辽宁    中国建设银行  天秤座  女     0       0.0  60000.0
28     54.0   广东    中国农业银行  金牛座  女     0     100.0      0.0
29     31.0  黑龙江      招商银行  金牛座  男     0     100.0      0.0
...     ...  ...       ...  ... ..   ...       ...      ...
48307  30.0   广东    中国建设银行  射手座  男     0     100.0      0.0
48308  21.0   四川    中国农业银行  金牛座  女    29     100.0      0.0
48309  63.0   江苏    中国工商银行  双鱼座  女     0     100.0      0.0
48310  26.0   河南    中国建设银行  巨蟹座  男     3     100.0      0.0
48311  27.0   广东    中国工商银行  金牛座  男     1     100.0      0.0
48312  32.0   江苏    中国建设银行  射手座  女     0     100.0      0.0
48313  35.0   山西      中国银行  双子座  女    29     100.0      0.0
48314  20.0   广东    中国农业银行  狮子座  女     0     100.0      0.0
48315  23.0   福建    中国建设银行  天蝎座  男     0     100.0      0.0
48316  32.0  黑龙江    邮政储蓄银行  狮子座  男     1     100.0      0.0
48317  58.0   辽宁    中国工商银行  白羊座  女     0     100.0      0.0
48318  47.0   河北      招商银行  摩羯座  男     0    1001.0      0.0
48319  48.0   河北    中国建设银行  巨蟹座  女     0     100.0      0.0
48320  54.0   河南    中国建设银行  双鱼座  男     0     100.0      0.0
48321  28.0   重庆    中国建设银行  双子座  女     0  479000.0  10000.0
48322  31.0   广东    中国农业银行  射手座  男    24     100.0      0.0
48323  35.0   四川    中国建设银行  处女座  男     0   15000.0      0.0
48324  34.0   安徽    中国农业银行  金牛座  男     0    1000.0      0.0
48325  32.0   重庆    中国建设银行  摩羯座  男     0       0.0  90000.0
48326  33.0   山东      中国银行  处女座  女     6     100.0      0.0
48327  49.0   新疆    中国建设银行  金牛座  女     0     100.0      0.0
48328  20.0   江西    中国建设银行  天蝎座  女     0     100.0      0.0
48329  45.0   陕西    中国招商银行  金牛座  女     7     100.0      0.0
48330  28.0   河北    中国农业银行  天秤座  男     0     100.0      0.0
48331  29.0   广东      招商银行  处女座  女    29     100.0      0.0
48332  37.0   江西    中国建设银行  水瓶座  男     3     100.0      0.0
48333  71.0   吉林    中国工商银行  双子座  男     0     100.0      0.0
48334  47.0   四川    中国农业银行  天蝎座  女    29     100.0      0.0
48335  25.0   河南    中国工商银行  双子座  女     0     100.0      0.0
48336  69.0   山东    中国建设银行  巨蟹座  女     1     100.0      0.0

[48337 rows x 8 columns]

In [16]:
trained.describe()

                 年龄          邀请人数          活期投资          定期投资
count  48337.000000  48337.000000  4.833700e+04  4.833700e+04
mean      37.794671      3.936219  3.540831e+04  1.029200e+04
std       13.772249     10.159920  3.122028e+05  7.657247e+04
min        7.000000      0.000000  0.000000e+00  0.000000e+00
25%       27.000000      0.000000  1.000000e+02  0.000000e+00
50%       33.000000      0.000000  1.000000e+02  0.000000e+00
75%       47.000000      2.000000  1.000000e+02  0.000000e+00
max       93.000000    728.000000  1.278957e+07  5.437300e+06

In [18]:
try:
    conn = pymysql.connect(host="",
                       user="",
                       password="",
                       db="",
                       charset="utf8",
                       cursorclass=pymysql.cursors.DictCursor)
    sql='''
        select age '年龄'
             , province '省份'
             , bankname '银行'
             , constellation '星座'
             , sex '性别'
             , invite_cnt '邀请人数'
            from m_userinfo mu 
            left join cus_detail cd on mu.userid = cd.userid 
            where mu.idcard is not null 
            and age < 100
            and bankname is not null
            and (SXQTZJE =0 and DQTZJE=0)
        '''
    to_train = pd.read_sql(sql, con=conn)
    print(to_train)
finally:
    conn.close()

         年龄  省份      银行   星座 性别  邀请人数
0      59.0  辽宁  中国农业银行  双子座  女     0
1      23.0  重庆    招商银行  天蝎座  女     1
2      21.0  山西  中国工商银行  天蝎座  男     0
3      22.0  浙江  中国建设银行  金牛座  女     0
4      54.0  陕西  中国建设银行  双鱼座  女     0
5      19.0  河北  中国建设银行  金牛座  男     0
6      33.0  陕西  中国农业银行  水瓶座  女     0
7      27.0  广东  中国工商银行  金牛座  男     0
8      39.0  北京  中国建设银行  双鱼座  男     0
9      27.0  广东    广发银行  双鱼座  女     0
10     32.0  广东  中国农业银行  处女座  女     0
11     22.0  广东  中国农业银行  狮子座  男     0
12     27.0  山西  中国建设银行  金牛座  男     0
13     19.0  福建  中国农业银行  水瓶座  男     0
14     30.0  山东  中国农业银行  摩羯座  女     4
15     41.0  湖南  中国工商银行  巨蟹座  女     0
16     24.0  云南  中国工商银行  双鱼座  男     0
17     32.0  河北  中国农业银行  天蝎座  女     0
18     32.0  浙江  中国工商银行  水瓶座  女     1
19     53.0  浙江  中国农业银行  天秤座  男     0
20     44.0  广西  中国农业银行  巨蟹座  男     0
21     26.0  山东    中国银行  水瓶座  男     0
22     23.0  江苏  中国建设银行  巨蟹座  男     0
23     34.0  河北  中国农业银行  双子座  女     0
24     48.0  山东  中国工商银行  水瓶座  女     0
25     27.0  湖北    中国银行  双鱼座  女     1
26     32.0  吉林  中国农业银行  巨蟹座  女     0
27     25.0  河北  中国建设银行  巨蟹座  男     0
28     22.0  山东    中国银行  射手座  男     0
29     46.0  湖北  中国农业银行  水瓶座  女     0
...     ...  ..     ...  ... ..   ...
62028  33.0  山西  中国建设银行  水瓶座  男     0
62029  33.0  河北  中国工商银行  天秤座  男     0
62030  25.0  陕西  中国农业银行  双鱼座  男     0
62031  22.0  山西  中国工商银行  天秤座  女     0
62032  29.0  河南    中国银行  天蝎座  男     0
62033  18.0  广西  邮政储蓄银行  天蝎座  男     0
62034  25.0  广西  中国建设银行  天秤座  女     0
62035  27.0  广东  中国建设银行  金牛座  男     0
62036  28.0  吉林  中国工商银行  双子座  女     0
62037  57.0  上海  中国建设银行  狮子座  男     0
62038  28.0  广东  中国工商银行  天秤座  男     0
62039  26.0  山西  中国建设银行  双鱼座  男     5
62040  40.0  吉林  中国建设银行  射手座  男     0
62041  36.0  福建    中国银行  双子座  男     0
62042  29.0  福建  中国工商银行  狮子座  男     0
62043  52.0  山东  中国农业银行  天秤座  男     0
62044  23.0  山东  中国建设银行  天秤座  男     0
62045  60.0  湖北  中国农业银行  白羊座  女     1
62046  28.0  河南  中国工商银行  处女座  男     0
62047  54.0  河北  中国农业银行  双鱼座  男     0
62048  29.0  湖北    招商银行  水瓶座  男     0
62049  27.0  江苏  中国工商银行  水瓶座  男     0
62050  20.0  山西  中国建设银行  处女座  男     0
62051  28.0  山东  中国农业银行  天秤座  女     1
62052  26.0  山东    招商银行  水瓶座  女     0
62053  27.0  江西  中国建设银行  双子座  女     0
62054  69.0  浙江    平安银行  处女座  男     0
62055  24.0  湖北  中国工商银行  处女座  女     0
62056  32.0  广西  中国建设银行  射手座  女    20
62057  42.0  安徽    中信银行  巨蟹座  男     0

[62058 rows x 6 columns]

In [20]:
to_train.describe()

                 年龄          邀请人数
count  62058.000000  62058.000000
mean      32.327629      0.526685
std       11.978902      5.078805
min        7.000000      0.000000
25%       24.000000      0.000000
50%       29.000000      0.000000
75%       37.000000      0.000000
max       99.000000    634.000000

### 计算建立模型

 - 年龄和投资金额关系

In [25]:
trained.groupby(["年龄"], axis=0).mean()

           邀请人数           活期投资           定期投资
年龄
7.0   29.000000     100.000000       0.000000
14.0   0.000000     100.000000       0.000000
15.0   0.000000     100.000000       0.000000
16.0   0.000000     100.000000       0.000000
17.0   1.250000     100.000000       0.000000
18.0   2.066667    9512.421867     146.666667
19.0   3.126984    6910.772063     511.904762
20.0   4.621739     541.229826      71.014493
21.0   6.535744    1170.086501     174.095879
22.0   7.686862    1536.875969     631.377551
23.0   7.825475    4665.747973     763.074097
24.0   6.834286    9063.977587    1480.634921
25.0   5.756643   12477.122047    2408.212560
26.0   4.945055   14795.585670    2965.824176
27.0   4.488085   27889.294238    2927.021277
28.0   4.574968   26063.003836    3246.817599
29.0   4.230805   25765.084393    3908.748255
30.0   4.190350   25059.630190    5369.455511
31.0   3.866772   39218.384218    4708.688784
32.0   3.800267   34635.133734    5070.006680
33.0   3.572323   43226.754930    7049.791377
34.0   3.568289   62340.898493    8254.552590
35.0   3.249431   64965.500265   10394.844579
36.0   2.718018   57192.309351    9252.221514
37.0   3.350993   42401.526280    7393.929360
38.0   3.660109   45619.172372   10747.475825
39.0   2.966960   66199.102676   11563.215859
40.0   2.852735   51007.577139   10595.231417
41.0   2.697548   66640.545204   23300.544959
42.0   2.647989   49964.716940   10510.632184
...         ...            ...            ...
62.0   2.564815   55192.523333   25772.916667
63.0   2.739910   49970.177758   38334.753363
64.0   1.588454   19407.250521   16251.396648
65.0   1.422872   50154.921596   33328.723404
66.0   2.521401   80112.939494   55647.081712
67.0   1.442446   12323.749101   26902.877698
68.0   1.762115   31567.461982   40136.563877
69.0   1.760976   44533.664098   37804.390244
70.0   1.207143   40535.906286   52075.000000
71.0   1.333333   15339.049926   36933.333333
72.0   1.119048   17790.412857   38857.142857
73.0   0.917526   10439.412784   42855.670103
74.0   1.122449   50961.282551   53668.367347
75.0   3.045455    8830.977955   35500.000000
76.0   1.337209   14795.676279   38395.348837
77.0   0.508197   42280.058197   53278.688525
78.0   1.132075   19216.131698   54037.735849
79.0   1.800000   19107.157714   66151.428571
80.0   1.189189   88020.995135   65864.864865
81.0   2.064516   23677.917419   43870.967742
82.0   4.095238    3867.440952   53333.333333
83.0   3.588235   13076.470588   20588.235294
84.0   0.000000     167.000000   53333.333333
85.0   0.000000   30740.000000   40000.000000
86.0   3.500000  320459.356667   79333.333333
87.0   7.750000      75.000000   50000.000000
89.0   4.833333  407199.500000   30000.000000
90.0   0.666667  122599.673333  245366.666667
92.0   0.000000     100.000000       0.000000
93.0   0.000000     100.000000       0.000000

[79 rows x 3 columns]

根据数据，可以划分出年龄段：

 * 0-30 : 0
 * 31+  : 1

- 省份和投资金额关系

In [27]:
trained.groupby(["省份"], axis=0).mean()

            年龄      邀请人数           活期投资          定期投资
省份
上海   37.603774  2.680355  109448.578624  21557.824639
云南   34.269710  5.004149    3808.265228   2215.767635
内蒙古  39.817996  2.276074   44152.675174  20652.351738
北京   39.177703  2.230743  224315.302821  59670.385264
吉林   41.607702  2.821901   16630.029759   2354.993983
四川   37.431230  6.580118   17115.468820   7121.833863
天津   45.176808  2.204363  232175.252480  76313.203215
宁夏   33.260870  6.982609    3503.853304   1226.086957
安徽   37.815278  3.966667    9389.638215   1872.013889
山东   37.972101  3.381845   13248.185059   3661.669790
山西   37.242943  4.713096   23089.294553   7705.136511
广东   35.679710  3.828080   13598.211786   2634.345449
广西   36.959272  3.849220    4237.920381    832.322357
新疆   38.358621  3.489655    6598.917103   7630.344828
江苏   37.280663  5.402995   15897.327795   3663.332271
江西   34.987820  6.627893    2420.151352    435.444580
河北   38.745283  3.489937   28858.956704  10348.731799
河南   36.124375  4.172724    2154.342284    663.054351
浙江   37.511607  3.875740   19827.298921   4680.063723
海南   34.358382  6.387283    2591.415607   2225.433526
湖北   38.152366  4.179927   30300.864883   3471.190848
湖南   37.281758  3.943736   12085.100497   2839.208791
甘肃   41.909326  2.471503   82885.498212  48769.170984
福建   35.574491  4.969214    2885.703430    489.829577
西藏   36.242424  1.969697  437469.776970  98875.757576
贵州   33.487903  3.705645    1667.557016     12.096774
辽宁   41.813166  2.151724   35212.474483  14719.749216
重庆   41.725318  3.309873   36166.564565  22414.271750
陕西   37.455324  3.839657   34723.406891  13924.675177
青海   39.842105  0.315789   12018.037895   4736.842105
黑龙江  41.476329  2.050242    8304.143633   1194.202899

可以得出省份关系

 * 上海，北京，天津，西藏 : 0
 * 云南，宁夏，广西，新疆，江西，河南，海南，福建，贵州 : 1
 * 其他: 2

- 银行和投资金额关系

In [28]:
trained.groupby(["银行"], axis=0).mean()

                 年龄      邀请人数          活期投资           定期投资
银行
03080000  33.000000  5.000000  7.900000e+04       0.000000
上海浦东发展银行  37.136986  0.575342  2.958803e+05   61841.095890
上海银行      61.000000  0.000000  1.885415e+05   70000.000000
中信银行      45.147940  0.960674  1.107799e+05   77198.127341
中国光大银行    39.850909  5.550909  1.235313e+05   41612.181818
中国农业银行    38.192656  4.960643  9.924566e+03    1587.848537
中国工商银行    37.414132  3.543426  2.917574e+04    6843.508852
中国建设银行    37.287135  4.369472  3.175804e+04   10444.051242
中国招商银行    34.411411  8.399399  3.455901e+04    1732.432432
中国民生银行    38.923729  0.474576  2.909060e+05   83597.457627
中国邮政储蓄银行  40.124088  0.153285  3.807835e+04    5908.759124
中国银行      37.245556  3.182513  2.354958e+04    6419.693882
交通银行      35.500000  0.317308  2.409109e+05   45570.192308
光大银行      41.212389  0.407080  2.963134e+05   64765.486726
兴业银行      36.947500  1.532500  1.199953e+05   16788.500000
北京银行      45.812500  0.437500  4.917506e+05   50418.750000
华夏银行      43.500000  1.509434  2.483102e+05   98583.018868
宁波银行      31.000000  1.000000  6.495524e+05       0.000000
山东农信社     30.333333  0.333333  2.416216e+05   34333.333333
平安银行      46.164286  0.528571  3.122253e+05   93834.285714
广东发展银行    35.807692  0.692308  2.590090e+05  245403.846154
广发银行      48.132075  0.886792  2.282540e+05   65766.433962
广州银行      37.000000  0.000000  1.499859e+05   39000.000000
恒丰银行      35.000000  1.000000  2.170148e+06       0.000000
招商银行      34.172306  4.631790  7.231938e+04   10101.424755
民生银行      45.107826  0.949565  6.280374e+04   65419.755861
江苏银行      42.000000  0.000000  4.060000e+05       0.000000
浦发银行      36.296296  4.777778  2.916290e+04     962.962963
深圳平安银行    35.187500  3.812500  2.902083e+03       0.000000
甘肃农信社     39.000000  1.000000  2.726816e+04       0.000000
请选择银行     46.125000  0.375000  2.545468e+03    7400.000000
邮政储蓄银行    47.112885  0.803877  8.856654e+02      51.311288

可以得出银行关系

 * 恒丰银行: 0
 * 中国农业银行, 邮政储蓄银行, 中国工商银行, 中国建设银行, 中国招商银行, 中国邮政储蓄银行, 中国银行, 招商银行, 民生银行, 浦发银行, 甘肃农信社 : 1
 * 其他: 2
 
- 星座和投资金额关系

In [29]:
trained.groupby(["星座"], axis=0).mean()

            年龄      邀请人数          活期投资          定期投资
星座
双子座  37.501455  3.704948  35328.217560   8814.183646
双鱼座  37.746218  3.686676  31872.753655   9735.988043
处女座  37.658929  4.128706  32068.234803  10997.402896
天秤座  37.920511  4.042341  38718.958526  10019.865364
天蝎座  38.050595  3.691303  40253.401660  12176.544649
射手座  38.418799  3.946358  33749.636545  10122.446112
巨蟹座  38.098378  4.027918  38412.408798  11049.364430
摩羯座  37.467725  3.819416  32318.811790  10551.741803
水瓶座  37.678304  3.984289  28442.205559   9579.860444
狮子座  37.627983  4.028636  41346.726845   9844.436071
白羊座  37.777550  3.921660  29879.778182  10275.913476
金牛座  37.510349  4.245915  41584.016187  10181.069749

可以看出，星座和投资金额没有太大的相关性

- 邀请人数和投资金额关系

In [30]:
trained.groupby(["邀请人数"], axis=0).mean()

             年龄           活期投资          定期投资
邀请人数
0     39.694380   22835.434700  10585.779463
1     35.045005   91344.680486  17563.638858
2     34.420422  103121.715573  18304.791786
3     33.500893  102625.101875  11575.683821
4     33.718821  129468.092562  16273.252971
5     33.373159  118571.401309  17313.877250
6     33.433610   73752.850332  14470.746888
7     33.970660   64973.552689  11834.229829
8     33.475460   96611.909233   9014.723926
9     33.003106   21241.559317   3584.472050
10    32.994406    4438.335105    606.993007
11    33.994318   70657.369773   3142.045455
12    32.500000   48151.529259    474.074074
13    34.256881   66725.182569   8696.330275
14    30.432836   42503.016119   1688.059701
15    31.523810   49347.993333   2215.476190
16    32.590164    8775.039672    229.508197
17    31.269231    3390.750000      0.000000
18    30.282609   15845.652174      0.000000
19    32.711538   90263.017885   9192.307692
20    30.886364  121588.460682   8045.454545
21    33.875000    5537.888500     25.000000
22    33.844444   54307.687556   2955.555556
23    31.833333   20544.188958    479.166667
24    30.052632   35263.538158  19868.421053
25    32.369565   13192.251739   2847.826087
26    32.746835    4806.584937    101.265823
27    34.474227     100.000000      0.000000
28    34.335878     102.290076      0.000000
29    33.749637     369.772712      2.177068
...         ...            ...           ...
67    25.000000     200.000000      0.000000
68    30.000000     100.000000      0.000000
70    28.000000     100.000000      0.000000
72    29.000000     100.000000      0.000000
73    41.000000     100.000000      0.000000
75    35.000000     100.000000      0.000000
80    26.000000     100.000000      0.000000
81    29.000000     100.000000      0.000000
84    25.000000     100.000000      0.000000
87    30.000000     100.000000      0.000000
90    33.000000     100.000000      0.000000
94    32.000000     100.000000      0.000000
95    25.000000     100.000000      0.000000
97    31.000000     100.000000      0.000000
98    22.000000     100.000000      0.000000
99    29.000000     100.000000      0.000000
100   24.000000     100.000000      0.000000
112   35.000000     100.000000      0.000000
113   39.000000     100.000000      0.000000
121   37.000000     100.000000      0.000000
127   28.000000     100.000000      0.000000
128   20.000000     100.000000      0.000000
138   27.000000     100.000000      0.000000
167   23.000000     100.000000      0.000000
175   31.000000     100.000000      0.000000
213   24.000000     100.000000      0.000000
252   29.000000     100.000000      0.000000
382   30.000000     100.000000      0.000000
510   30.000000     100.000000      0.000000
728   38.000000  735343.680000   4000.000000

[89 rows x 3 columns]

可以看出邀请人数与投资金额关系也不大

- 性别和投资金额关系

In [31]:
trained.groupby(["性别"], axis=0).mean()

           年龄      邀请人数          活期投资          定期投资
性别
女   39.133894  3.230099  50765.963954  13973.504140
男   36.534969  4.600410  20962.569855   6829.092079

可以看出性别与投资金额关系

 * 女 : 0
 * 男 : 1

### 选择数据项

 * 年龄
 * 省份
 * 银行
 
 根据归一化法则变换数据

In [57]:
trained_t = trained.drop(['邀请人数', '星座'], axis=1)
trained_t.loc[trained_t['性别']=='男', "性别"] = 1
trained_t.loc[trained_t['性别']=='女', "性别"] = 0
trained_t.loc[trained_t['年龄'].isin(list(range(0,31))), '年龄'] = 0
trained_t.loc[trained_t['年龄'].isin(list(range(31,100))), '年龄'] = 1
trained_t.loc[trained_t['省份'].isin(["上海","北京","天津","西藏"]), "省份"] = 0
trained_t.loc[trained_t['省份'].isin(["云南","宁夏","广西","新疆","江西","河南","海南","福建","贵州"]), "省份"] = 0.5
trained_t.loc[~trained_t['省份'].isin([0, 0.5]), '省份'] = 1
trained_t.loc[trained_t['银行']=='恒丰银行','银行'] = 0
trained_t.loc[trained_t['银行'].isin(["中国农业银行", "邮政储蓄银行", "中国工商银行", "中国建设银行", "中国招商银行", "中国邮政储蓄银行", "中国银行", "招商银行", "民生银行", "浦发银行", "甘肃农信社"]),'银行'] = 0.5
trained_t.loc[~trained_t['银行'].isin([0, 0.5]), '银行'] = 1
trained_t.loc[trained_t['活期投资']<10000, '活期投资'] = 0
trained_t.loc[(trained_t['活期投资']<50000) & (trained_t['活期投资']>=10000), '活期投资'] = 0.5
trained_t.loc[trained_t['活期投资']>=50000, '活期投资'] = 1
trained_t.loc[trained_t['定期投资']<10000, '定期投资'] = 0
trained_t.loc[(trained_t['定期投资']<30000) & (trained_t['定期投资']>=10000), '定期投资'] = 0.5
trained_t.loc[trained_t['定期投资']>=30000, '定期投资'] = 1

print(trained_t)

        年龄   省份   银行  性别  活期投资  定期投资
0      0.0    0  0.5   1   0.0   0.0
1      0.0  0.5  0.5   0   0.0   0.0
2      0.0  0.5  0.5   1   0.0   0.0
3      1.0    1  0.5   1   0.0   0.0
4      1.0    1  0.5   0   0.0   0.0
5      0.0    1  0.5   0   0.0   0.0
6      0.0  0.5  0.5   1   0.0   0.0
7      1.0    0  0.5   0   0.0   0.0
8      1.0  0.5  0.5   1   0.0   0.0
9      1.0    1  0.5   0   0.0   0.0
10     0.0    1  0.5   1   0.0   0.0
11     0.0    1  0.5   0   0.0   0.0
12     0.0    1  0.5   0   0.0   0.0
13     1.0    1  0.5   1   0.0   0.0
14     1.0    1  0.5   1   0.0   0.0
15     1.0    0  0.5   0   1.0   0.0
16     1.0    1  0.5   1   0.0   0.0
17     1.0    1  0.5   1   0.0   0.0
18     1.0    1  0.5   1   0.0   0.0
19     0.0    1  0.5   1   0.0   0.0
20     1.0    0  0.5   1   1.0   0.0
21     0.0    1  0.5   1   0.0   0.0
22     0.0    1  0.5   1   0.0   0.0
23     1.0  0.5  0.5   1   0.0   0.0
24     0.0  0.5  0.5   0   0.0   0.0
25     0.0    1  0.5   0   0.0   0.0
26     1.0    0  0.5   0   0.0   0.0
27     1.0    1  0.5   0   0.0   1.0
28     1.0    1  0.5   0   0.0   0.0
29     1.0    1  0.5   1   0.0   0.0
...    ...  ...  ...  ..   ...   ...
48307  0.0    1  0.5   1   0.0   0.0
48308  0.0    1  0.5   0   0.0   0.0
48309  1.0    1  0.5   0   0.0   0.0
48310  0.0  0.5  0.5   1   0.0   0.0
48311  0.0    1  0.5   1   0.0   0.0
48312  1.0    1  0.5   0   0.0   0.0
48313  1.0    1  0.5   0   0.0   0.0
48314  0.0    1  0.5   0   0.0   0.0
48315  0.0  0.5  0.5   1   0.0   0.0
48316  1.0    1  0.5   1   0.0   0.0
48317  1.0    1  0.5   0   0.0   0.0
48318  1.0    1  0.5   1   0.0   0.0
48319  1.0    1  0.5   0   0.0   0.0
48320  1.0  0.5  0.5   1   0.0   0.0
48321  0.0    1  0.5   0   1.0   0.5
48322  1.0    1  0.5   1   0.0   0.0
48323  1.0    1  0.5   1   0.5   0.0
48324  1.0    1  0.5   1   0.0   0.0
48325  1.0    1  0.5   1   0.0   1.0
48326  1.0    1  0.5   0   0.0   0.0
48327  1.0  0.5  0.5   0   0.0   0.0
48328  0.0  0.5  0.5   0   0.0   0.0
48329  1.0    1  0.5   0   0.0   0.0
48330  0.0    1  0.5   1   0.0   0.0
48331  0.0    1  0.5   0   0.0   0.0
48332  1.0  0.5  0.5   1   0.0   0.0
48333  1.0    1  0.5   1   0.0   0.0
48334  1.0    1  0.5   0   0.0   0.0
48335  0.0  0.5  0.5   0   0.0   0.0
48336  1.0    1  0.5   0   0.0   0.0

[48337 rows x 6 columns]

In [60]:
to_train_t = to_train.drop(['邀请人数', '星座'], axis=1)
to_train_t.loc[to_train_t['性别']=='男', "性别"] = 1
to_train_t.loc[to_train_t['性别']=='女', "性别"] = 0
to_train_t.loc[to_train_t['年龄'].isin(list(range(0,31))), '年龄'] = 0
to_train_t.loc[to_train_t['年龄'].isin(list(range(31,100))), '年龄'] = 1
to_train_t.loc[to_train_t['省份'].isin(["上海","北京","天津","西藏"]), "省份"] = 0
to_train_t.loc[to_train_t['省份'].isin(["云南","宁夏","广西","新疆","江西","河南","海南","福建","贵州"]), "省份"] = 0.5
to_train_t.loc[~to_train_t['省份'].isin([0, 0.5]), '省份'] = 1
to_train_t.loc[to_train_t['银行']=='恒丰银行','银行'] = 0
to_train_t.loc[to_train_t['银行'].isin(["中国农业银行", "邮政储蓄银行", "中国工商银行", "中国建设银行", "中国招商银行", "中国邮政储蓄银行", "中国银行", "招商银行", "民生银行", "浦发银行", "甘肃农信社"]),'银行'] = 0.5
to_train_t.loc[~to_train_t['银行'].isin([0, 0.5]), '银行'] = 1

print(to_train_t)

        年龄   省份   银行  性别
0      1.0    1  0.5   0
1      0.0    1  0.5   0
2      0.0    1  0.5   1
3      0.0    1  0.5   0
4      1.0    1  0.5   0
5      0.0    1  0.5   1
6      1.0    1  0.5   0
7      0.0    1  0.5   1
8      1.0    0  0.5   1
9      0.0    1    1   0
10     1.0    1  0.5   0
11     0.0    1  0.5   1
12     0.0    1  0.5   1
13     0.0  0.5  0.5   1
14     0.0    1  0.5   0
15     1.0    1  0.5   0
16     0.0  0.5  0.5   1
17     1.0    1  0.5   0
18     1.0    1  0.5   0
19     1.0    1  0.5   1
20     1.0  0.5  0.5   1
21     0.0    1  0.5   1
22     0.0    1  0.5   1
23     1.0    1  0.5   0
24     1.0    1  0.5   0
25     0.0    1  0.5   0
26     1.0    1  0.5   0
27     0.0    1  0.5   1
28     0.0    1  0.5   1
29     1.0    1  0.5   0
...    ...  ...  ...  ..
62028  1.0    1  0.5   1
62029  1.0    1  0.5   1
62030  0.0    1  0.5   1
62031  0.0    1  0.5   0
62032  0.0  0.5  0.5   1
62033  0.0  0.5  0.5   1
62034  0.0  0.5  0.5   0
62035  0.0    1  0.5   1
62036  0.0    1  0.5   0
62037  1.0    0  0.5   1
62038  0.0    1  0.5   1
62039  0.0    1  0.5   1
62040  1.0    1  0.5   1
62041  1.0  0.5  0.5   1
62042  0.0  0.5  0.5   1
62043  1.0    1  0.5   1
62044  0.0    1  0.5   1
62045  1.0    1  0.5   0
62046  0.0  0.5  0.5   1
62047  1.0    1  0.5   1
62048  0.0    1  0.5   1
62049  0.0    1  0.5   1
62050  0.0    1  0.5   1
62051  0.0    1  0.5   0
62052  0.0    1  0.5   0
62053  0.0  0.5  0.5   0
62054  1.0    1    1   1
62055  0.0    1  0.5   0
62056  1.0  0.5  0.5   0
62057  1.0    1    1   1

[62058 rows x 4 columns]

### 验证模型

**Q: 如何来验证模型是否正确？**

### 计算结果

根据整理的数据

In [78]:
from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor(random_state=0, n_estimators=2000, n_jobs=-1)
rfr.fit(trained_t.iloc[:,:4], trained_t.iloc[:,4:6])
predict = pd.DataFrame(rfr.predict(to_train_t), columns=['活期投资','定期投资'])
predict = to_train_t.join(predict)
predict.loc[predict['活期投资']<0.5, '活期投资'] = predict.loc[predict['活期投资']<0.5, '活期投资']*50000
predict.loc[predict['活期投资']<1, '活期投资'] = 50000+predict.loc[predict['活期投资']<1, '活期投资']*50000
predict.loc[predict['定期投资']<0.5, '定期投资'] = predict.loc[predict['定期投资']<0.5, '定期投资']*30000
predict.loc[predict['定期投资']<1, '定期投资'] = 30000+predict.loc[predict['定期投资']<1, '定期投资']*50000

print(predict)

        年龄   省份   银行  性别          活期投资         定期投资
0      1.0    1  0.5   0   3433.307097  2062.820802
1      0.0    1  0.5   0   2660.063858   704.448336
2      0.0    1  0.5   1   1076.374776   206.435707
3      0.0    1  0.5   0   2660.063858   704.448336
4      1.0    1  0.5   0   3433.307097  2062.820802
5      0.0    1  0.5   1   1076.374776   206.435707
6      1.0    1  0.5   0   3433.307097  2062.820802
7      0.0    1  0.5   1   1076.374776   206.435707
8      1.0    0  0.5   1  16429.596539  8308.730535
9      0.0    1    1   0   9639.331537  2983.453977
10     1.0    1  0.5   0   3433.307097  2062.820802
11     0.0    1  0.5   1   1076.374776   206.435707
12     0.0    1  0.5   1   1076.374776   206.435707
13     0.0  0.5  0.5   1    442.921828    95.459322
14     0.0    1  0.5   0   2660.063858   704.448336
15     1.0    1  0.5   0   3433.307097  2062.820802
16     0.0  0.5  0.5   1    442.921828    95.459322
17     1.0    1  0.5   0   3433.307097  2062.820802
18     1.0    1  0.5   0   3433.307097  2062.820802
19     1.0    1  0.5   1   1840.906459  1117.180679
20     1.0  0.5  0.5   1    718.921082   199.727019
21     0.0    1  0.5   1   1076.374776   206.435707
22     0.0    1  0.5   1   1076.374776   206.435707
23     1.0    1  0.5   0   3433.307097  2062.820802
24     1.0    1  0.5   0   3433.307097  2062.820802
25     0.0    1  0.5   0   2660.063858   704.448336
26     1.0    1  0.5   0   3433.307097  2062.820802
27     0.0    1  0.5   1   1076.374776   206.435707
28     0.0    1  0.5   1   1076.374776   206.435707
29     1.0    1  0.5   0   3433.307097  2062.820802
...    ...  ...  ...  ..           ...          ...
62028  1.0    1  0.5   1   1840.906459  1117.180679
62029  1.0    1  0.5   1   1840.906459  1117.180679
62030  0.0    1  0.5   1   1076.374776   206.435707
62031  0.0    1  0.5   0   2660.063858   704.448336
62032  0.0  0.5  0.5   1    442.921828    95.459322
62033  0.0  0.5  0.5   1    442.921828    95.459322
62034  0.0  0.5  0.5   0    717.047159   180.187892
62035  0.0    1  0.5   1   1076.374776   206.435707
62036  0.0    1  0.5   0   2660.063858   704.448336
62037  1.0    0  0.5   1  16429.596539  8308.730535
62038  0.0    1  0.5   1   1076.374776   206.435707
62039  0.0    1  0.5   1   1076.374776   206.435707
62040  1.0    1  0.5   1   1840.906459  1117.180679
62041  1.0  0.5  0.5   1    718.921082   199.727019
62042  0.0  0.5  0.5   1    442.921828    95.459322
62043  1.0    1  0.5   1   1840.906459  1117.180679
62044  0.0    1  0.5   1   1076.374776   206.435707
62045  1.0    1  0.5   0   3433.307097  2062.820802
62046  0.0  0.5  0.5   1    442.921828    95.459322
62047  1.0    1  0.5   1   1840.906459  1117.180679
62048  0.0    1  0.5   1   1076.374776   206.435707
62049  0.0    1  0.5   1   1076.374776   206.435707
62050  0.0    1  0.5   1   1076.374776   206.435707
62051  0.0    1  0.5   0   2660.063858   704.448336
62052  0.0    1  0.5   0   2660.063858   704.448336
62053  0.0  0.5  0.5   0    717.047159   180.187892
62054  1.0    1    1   1   7940.553884  7488.067563
62055  0.0    1  0.5   0   2660.063858   704.448336
62056  1.0  0.5  0.5   0    732.123457   156.253032
62057  1.0    1    1   1   7940.553884  7488.067563

[62058 rows x 6 columns]

**Q: 看到结果要干嘛？**

撸起袖子加油干，一张蓝图绘到底

## 总结

 - 数据获取
 - 数据分类
 - 数据抽象
 - 分析数据关联
 - 选择分析模型
 - 得到结果
 - 验证结果
 
 **Q: 如何优化结果？**
 
  * 训练数据相关性
  * 训练数据去噪
  * 数据权重优化
  * ...
  
  ATTENTION: DO NOT OVER-FITTING!
 
## 参考资料

 * https://kaggle.com
 * https://zhuanlan.zhihu.com/p/27577246
 * http://blog.csdn.net/yaoqiang2011/article/list/1